.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;


}

:root {
  --color1: #14213D;
  --color2: #000000;
  --color3: #FCA311;
  --color4: #E5E5E5;
  --color5: #FFFFFF;
}

body {
  background-color: #E5E5E5;

}

.smallText,
.smallText span,
.smallText p,
.smallText a {
  font-family: Poppins, sans-serif;
  text-align: justify;
  font-size: medium;
}

.text-secondary {

  color: var(--color5) !important;
  font-size: large;


}

.text-secondary-modal {
  color: var(--color2);
  font-size: large;
  font-weight: bold;
}

.infoText {
  font-size: medium;
  padding: 10px 5px 10px 20px;
  text-align: justify;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
