

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;


}

:root {
  --color1: #14213D;
  --color2: #000000;
  --color3: #FCA311;
  --color4: #E5E5E5;
  --color5: #FFFFFF;
}
body {
  background-color: #E5E5E5;

}
