<div class="container mb-5">
  <div class="title">
    <h2>Welcome to My Portfolio Website!</h2>
    <div class="align-content-center">
      <div class="subText mb-5">
        <p>
          Welcome to my portfolio website. Here, you will find a collection of projects that I developed throughout my
          studies in Applied Science at Thomas More Geel. The portfolio includes:
        </p>
        <ul>
          <li>
            <a href="/portfolio" style="color: var(--color3); text-decoration: none;">Course Projects</a>: A variety of assignments and projects completed during my coursework, demonstrating my
            skills in coding, problem-solving, and application development.
          </li>
          <li>
            <a href="/internship" style="color: var(--color3); text-decoration: none;">Internship Project</a>: A detailed showcase of the project I executed during my internship, highlighting
            real-world application of my learning and my ability to work in a professional environment.
          </li>
          <li>
            <a href="/resume" style="color: var(--color3); text-decoration: none;">Curriculum Vitae (CV)</a>: An overview of my education, skills, experiences, and accomplishments, providing
            insight into my qualifications and professional background.
          </li>
        </ul>
        <p> Explore my work to see how my education and experiences have prepared me for a career in application
          development.</p>
      </div>
    </div>
  </div>
</div>
