

  <div class="modal-header filter-heading">
    <h3 class="modal-title" id="filterModalLabel">FILTER</h3>
    <h3><i class="fa fa-close icon" (click)="close()"></i></h3>
  </div>
<div class="modal-body">
  <div class="itemColor">
    <div class="smallText">
      <div class="text-secondary-modal">Languages:</div>
      <div *ngFor="let tag of languageTags">
        <button (click)="onTagChange2(tag.key)" [class.active]="selectedTags.has(tag.key)" class="tag-button">
          <img src="{{tag.icon}}" class="logo"> {{ tag.key }}
        </button>
      </div>
    </div>
    <div class="smallText">
      <div class="text-secondary-modal">Frameworks:</div>
      <div *ngFor="let tag of frameworkTags">
        <button (click)="onTagChange2(tag.key)" [class.active]="selectedTags.has(tag.key)" class="tag-button">
          <img src="{{tag.icon}}" class="logo"> {{ tag.key }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn button-modal" (click)="apply()">Apply</button>
</div>

