<div class="modal-header filter-heading">
  <h1><span class="d-none d-md-inline">PROJECT:</span> {{project.name.toUpperCase()}}</h1>
  <h1><i class="fa fa-close icon"></i></h1>
</div>
<div class="modal-body">
  <div>
    <div class="text-secondary-modal">GENERAL INFORMATION</div>
    <div class="infoText">Developer(s): </div>
    <div class="infoText">Year: </div>


    <div class="infoText">You can find this project on Gitbhub <a href={{project.projectLink}} target="_blank">here</a></div>
  </div>
  <hr>
  <div>
    <div class="text-secondary-modal">USED TECHNOLOGY</div>
    <div class="d-flex flexwrap pt-2 px-3">
      <div *ngFor="let tag of project.tags">
        <div><img src="{{tag.icon}}" class="logo" title="{{tag.key}}"></div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <div class="text-secondary-modal">DESCRIPTION</div>
    <!-- <div class="smallText">{{project.description}}</div> -->
    <div class="infoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean euismod elementum nisi quis eleifend. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer.</div>
  </div>
  <hr>
  <div>
    <div class="text-secondary-modal">IMAGES</div>
    <carousel>
      <div *ngFor="let picture in project.pictures">
        <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
      </div>
    </carousel>
  </div>
</div>
