@media (max-width:768px) {
  .logo {
    height: 20px;
    margin-right: 20px;
  }

  img {
    width: 100%;
  }
}

@media (min-width:768px) {
  .logo {
    height: 40px;
    margin-right: 40px;

  }

  img {
    max-height: 300px;
  }
}

.filter-heading {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.modal-header {
  color: var(--color3);
  background-color: var(--color1) !important;
}

.icon {
  cursor: pointer;
  color: red;

}
h2 {
  margin-bottom: 0 !important;
}


.text-secondary-modal {
  color: var(--color2);
  font-size: large;
  font-weight: bold;
}

.infoText {
  font-size: medium;
  padding: 10px 5px 10px 20px;
  text-align: justify;
}

:host {
  display: contents;
  }


  a {
    text-decoration: none;
    color: var(--color3);
    width: 100%
  }


