<div class="container">
  <div class="leftPanel" [ngClass]="{'full-width': panelState === 'out', 'out': panelState === 'out'}"
    [@slideInOut]="panelState">
    <div class="filters">
      <div class="item bottomLineSeparator">
        <div class="filter-heading">
          <h3 class="d-none d-md-inline">
            FILTER
          </h3>
          <h3 (click)="openFilterModal()" class="d-md-none">
            FILTER
          </h3>
          <h3><i class="fa fa-refresh icon" (click)="resetSelection()"
              [ngClass]="{'hidden': selectedTags.size == 0}"></i></h3>
        </div>
        <div class="d-none d-md-inline">
          <div class="itemColor">
            <div class="smallText">
              <div class="text-secondary">Languages:</div>
              <div *ngFor="let tag of languageTags">
                <button (click)="onTagChange2(tag.key)" [class.active]="selectedTags.has(tag.key)" class="tag-button">
                  <img src="{{tag.icon}}" class="logo d-none d-md-inline"> {{ tag.key }}
                </button>
              </div>
            </div>
            <div class="smallText">
              <div class="text-secondary">Frameworks:</div>
              <div *ngFor="let tag of frameworkTags">
                <button (click)="onTagChange2(tag.key)" [class.active]="selectedTags.has(tag.key)" class="tag-button">
                  <img src="{{tag.icon}}" class="logo d-none d-md-inline"> {{ tag.key }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanel" [ngClass]="{'full-width': panelState === 'out'}">
    <div class="header title d-none d-md-inline">
      <div class="icon-filter">
        <i class="fa fa-filter" (click)="togglePanel()"></i>
      </div>
      <h2 (click)="togglePanel()">
        PROJECTS
      </h2>
    </div>
    <div class="d-md-none">
      <h3>
        PROJECTS
      </h3>
    </div>
    <div class="smallText">
      <div class="project-wrapper">
        <!-- <div *ngFor="let project of filteredProjects">
          <app-project-card [project]="project"></app-project-card>
        </div> -->
        <ng-container *ngIf="filteredProjects.length > 0; else noProjects">
          <div *ngFor="let project of filteredProjects">
            <app-project-card [project]="project"></app-project-card>
          </div>
        </ng-container>
        <ng-template #noProjects>
          <div class="no-projects-message">
            No projects available
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
