<div class="card shadow">
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
      <div class="title">
        {{project.name}}
      </div>
      <p class="smallText">
        {{project.summary}}
      </p>
    </div>
    <div class="text-end">
      <button class="btn" (click)="OpenProjectModal()">
        View project
      </button>
    </div>
    <hr>
    <div>
      <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let tag of project.tags">
          <!-- <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag.key}}</div> -->
          <div>
            <img src="{{tag.icon}}" alt="{{tag.key}}" title="{{tag.key}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
